@model artfriks.Models.ArtWork

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>ArtWork</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AddedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddedDate" class="form-control" />
                <span asp-validation-for="AddedDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DimensionUnit" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DimensionUnit" class="form-control" />
                <span asp-validation-for="DimensionUnit" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Height" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MediumString" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MediumString" class="form-control" />
                <span asp-validation-for="MediumString" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PictureUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PictureUrl" class="form-control" />
                <span asp-validation-for="PictureUrl" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="TermAccepted" />
                    <label asp-for="TermAccepted"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Width" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
